<template>
    <div class="purchase-form-box">
        <div class="purchase-form-heading">Оформление заказа</div>
        <form @submit.prevent="submit" class="purchase-form">
            <div :class="['purchase-form-stage-wrapper', 'stage-' + currentStage]">
                <div class="purchase-form-stage stage-1">
                    <div class="purchase-form-stage-inner">
                        <div class="form-row-wrap">
                            <div class="form-row half">
                                <input v-model="value.form_name" :class="error.form_name" id="form_name" type="text" maxlength="255" placeholder="Ваше имя">
                                <label for="form_name">Имя</label>
                                <div class="form-row-after"></div>
                                <div class="form-row-error">только латинские и кириллические символы</div>
                            </div>
                            <div class="form-row half">
                                <input v-model="value.form_tel" :class="error.form_tel" id="form_tel" type="tel" maxlength="25" placeholder="Ваш номер телефона">
                                <label for="form_tel">Номер телефона</label>
                                <div class="form-row-after"></div>
                                <div class="form-row-error">только цифры и символ +</div>
                            </div>
                        </div>
                        <div class="form-row-wrap">
                            <div class="form-row half">
                                <input v-model="value.form_region" :class="error.form_region" id="form_region" type="text" maxlength="255" placeholder="Ваша область проживания">
                                <label for="form_region">Область</label>
                                <div class="form-row-after"></div>
                                <div class="form-row-error">запрещены символы: [, ], {, }, <, ></div>
                            </div>
                            <div class="form-row half">
                                <input v-model="value.form_settlement" :class="error.form_settlement" id="form_settlement" type="text" maxlength="255" placeholder="Ваш населённый пункт">
                                <label for="form_settlement">Населенный пункт</label>
                                <div class="form-row-after"></div>
                                <div class="form-row-error">запрещены символы: [, ], {, }, <, ></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <input v-model="value.form_address" :class="error.form_address" id="form_address" type="text" maxlength="255" placeholder="Ваш адрес">
                            <label for="form_address">Адрес</label>
                            <div class="form-row-after"></div>
                            <div class="form-row-error">запрещены символы: [, ], {, }, <, ></div>
                        </div>
                        <div class="form-row-wrap">
                            <div class="form-row half last">
                                <input v-model="value.form_postcode" :class="error.form_postcode" id="form_postcode" type="text" maxlength="5" placeholder="Ваш почтовый индекс">
                                <label for="form_postcode">Индекс</label>
                                <div class="form-row-after"></div>
                                <div class="form-row-error">неверный формат</div>
                            </div>
                            <div class="form-row half last">
                                <input v-model="value.form_novaposhta" :class="error.form_novaposhta" id="form_novaposhta" type="text" maxlength="10" placeholder="Если есть">
                                <label for="form_novaposhta">Отделение новой почты</label>
                                <div class="form-row-after"></div>
                                <div class="form-row-error">только цифры</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="purchase-form-stage stage-2">
                    <div class="purchase-form-stage-inner">
                        <div class="purchase-form-stage-heading-wrap">
                            <div class="purchase-form-stage-heading with-comment">Выберите цвет</div>
                            <div class="purchase-form-stage-comment">(цвет галстука и платка)</div>
                        </div>
                        <div class="purchase-form-choose-color-wrap">
                            <div class="purchase-form-choose-color-column color-1">
                                <label for="form_color_1">
                                    <div class="purchase-form-color-name">Сапфир</div>
                                    <input @change="setPrice" v-model="value.form_color" id="form_color_1" name="form_color" value="sapfir" type="radio">
                                    <div class="purchase-form-color-texture color-sapfir"></div>
                                </label>
                            </div>
                            <div class="purchase-form-choose-color-column color-2">
                                <label for="form_color_2">
                                    <div class="purchase-form-color-name">Графит</div>
                                    <input @change="setPrice" v-model="value.form_color" id="form_color_2" name="form_color" value="grafit" type="radio">
                                    <div class="purchase-form-color-texture color-grafit"></div>
                                </label>
                            </div>
                        </div>
                        <div :class="['purchase-form-price', isHiddenPrice]">
                            {{ getPrice }}
                        </div>
                        <div class="purchase-form-agreement-wrap">
                            <label for="form_agreement">
                                Я прочитал и согласен с правилами<br><a href="/user-agreement" target="_blank">Пользовательского соглашения</a>:
                                <input v-model="value.form_agreement" type="checkbox" name="form_agreement">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="purchase-form-footing">
            <button @click="nextStage" :class="['purchase-form-button', buttonStatus]">{{ buttonText }}</button>
        </div>
    </div>
</template>
<script>
import swal from 'sweetalert';

export default {
    name: 'purchase-form',
    data: function() {
        return {
            currentStage: 1,
            buttonText: 'Далее',
            buttonStatus: '',
            price: '2750',
            isHiddenPrice: 'hidden',
            value: {
                form_name: '',
                form_tel: '',
                form_region: '',
                form_settlement: '',
                form_address: '',
                form_postcode: '',
                form_novaposhta: '',
                form_color: '',
                form_agreement: ''
            },
            reg: {
                form_name: new RegExp(/^[`'a-zа-яіїєё\s]{1,255}$/iu),
                form_tel: new RegExp(/^\+?[0-9]{1,25}$/i),
                form_region: new RegExp(/^[^<>\[\]\{\}]{1,255}$/),
                form_settlement: new RegExp(/^[^<>\[\]\{\}]{1,255}$/),
                form_address: new RegExp(/^[^<>\[\]\{\}]{1,255}$/),
                form_postcode: new RegExp(/^[0-9]{5}$/),
                form_novaposhta: new RegExp(/^[0-9]{1,10}$/),
            },
            error: {
                form_name: '',
                form_tel: '',
                form_region: '',
                form_settlement: '',
                form_address: '',
                form_postcode: '',
                form_novaposhta: ''
            },
            payment: ''
        }
    },
    computed: {
        getPrice: function() {
            return this.price + ' ГРН';
        }
    },
    methods: {
        submit: function() {
            
        },
        nextStage: function() {
            if(this.currentStage == 1) {
                var $this = this;
                if(this.checkStage1()) {
                    this.currentStage++;
                    setTimeout(function(){
                        $this.buttonText = "Оплатить с помощью LiqPay";
                        $this.buttonStatus = "button-pay";
                    }, 500);
                } else {
                    return false;
                }
                return false;
            }
            if(this.currentStage == 2) {
                if(this.checkStage2()){
                    this.sendRequest();
                } else {
                    return false;
                }
            }
        },
        prevStage: function() {
            if(this.currentStage > 2) {
                this.currentStage--;
            }
        },
        checkStage1: function() {
            var arr = [];
            var $this = this;

            if(this.value.form_name.length == 0) {
                this.showError('Укажите имя');
                return false;
            } else {
                arr.push('form_name');
            }

            if(this.value.form_tel.length == 0) {
                this.showError('Укажите номер телефона');
                return false;
            } else {
                arr.push('form_tel');
            }

            if(this.value.form_region.length > 0) {
                arr.push('form_region');
            }

            if(this.value.form_settlement.length == 0) {
                this.showError('Укажите населённый пункт');
                return false;
            } else {
                arr.push('form_settlement');
            }

            if(this.value.form_address.length == 0) {
                this.showError('Укажите адрес');
                return false;
            } else {
                arr.push('form_address');
            }

            if(this.value.form_postcode.length > 0) {
                arr.push('form_postcode');
            }

            if(this.value.form_novaposhta.length > 0) {
                arr.push('form_novaposhta');
            }

            arr.forEach(function(i){
                if($this.testReg(i)) {
                    $this.setValid(i);
                } else {
                    $this.setInvalid(i);
                }
            });

            if(this.checkErrors(arr)){
                return true;
            } else {
                return false;
            }
        },
        checkStage2: function() {
            if(this.value.form_color.length == 0) {
                this.showError('Выберите цвет');
                return false;
            }

            if(this.value.form_agreement.length == 0) {
                this.showError('Вы должны прочитать и согласиться с правилами Пользовательского соглашения');
                return false;
            }
            return true;
        },
        showError: function(msg) {
            swal('Ошибка', msg, 'error');
        },
        testReg: function(inputName) {
            if(this.reg[inputName].test(this.value[inputName])){
                return true;
            } else {
                return false;
            }
        },
        setValid: function(inputName) {
            this.error[inputName] = 'valid';
        },
        setInvalid: function(inputName) {
            this.error[inputName] = 'invalid';
        },
        checkErrors: function(arr) {
            var $this = this;
            var counter = 0;
            arr.forEach(function(i){
                if($this.error[i] == 'invalid') {
                    counter++;
                }
            });
            if(counter == 0) {
                return true;
            } else {
                return false;
            }
        },
        setPrice: function() {
            var $this = this;
            if(this.isHiddenPrice == 'hidden') {
                this.isHiddenPrice = '';
            }
            if(this.value.form_color == 'sapfir') {
                this.isHiddenPrice = 'hidden';
                setTimeout(function(){
                    $this.price = '2530';
                    $this.isHiddenPrice = '';
                }, 300);
            }
            if(this.value.form_color == 'grafit') {
                this.isHiddenPrice = 'hidden';
                setTimeout(function(){
                    $this.price = '2750';
                    $this.isHiddenPrice = '';
                }, 300);
            }
        },
        sendRequest: function() {
            var $this = this;
            axios.post('/purchase/new', {
                name: $this.value.form_name,
                tel: $this.value.form_tel,
                region: $this.value.form_region,
                settlement: $this.value.form_settlement,
                address: $this.value.form_address,
                postcode: $this.value.form_postcode,
                novaposhta: $this.value.form_novaposhta,
                color: $this.value.form_color,
                price: $this.price
            }).then((response) => {
                if(response.data == 'validation error') {
                    swal('Ошибка', 'Одно или более поля ввода введены неверно (validation error)', 'error');
                } else if(response.data == 'creation error') {
                    swal('Ошибка', 'Внутрення ошибка сервера, попробуйте позже (creation error)', 'error');
                } else {
                    this.payment = response.data;
                    this.proceedPayment();
                }
            }).catch((error) => {
                console.log(error);
                swal('Ошибка', 'Внутренная ошибка сервера (500)', 'error');
            });
        },
        proceedPayment: function() {
            location.href = 'https://www.liqpay.ua/api/3/checkout?data=' + this.payment.data + '&signature=' + this.payment.signature;
        }
    }
}
</script>

