.read-more
    font-size: 22px  
    display: flex
    align-items: center
    cursor: pointer

    &:hover
        .text
            &::after
                width: 100%


    &.active, &:hover
        .plus-in-circle
            span
                &:nth-child(1)
                    transform: rotate(-45deg)

                &:nth-child(2)
                    transform: rotate(45deg)

    .plus-in-circle
        display: inline-block
        height: 30px
        width: 30px
        margin-right: 15px
        border: 2px solid #000
        border-radius: 50%
        position: relative

        span
            position: absolute
            display: inline-block
            width: 20px
            height: 2px
            background-color: #000000
            left: 50%
            top: 50%
            margin-top: -1px
            margin-left: -10px
            transition: transform .5s ease-in-out

            &:nth-child(1)
                transform-origin: center center
                transform: rotate(-90deg)

    .text
        display: inline-block
        position: relative

        &::after
            position: absolute
            left: 0
            bottom: -3px
            content: ''
            display: inline-block
            background-color: #000000
            height: 2px
            width: 0
            transition: width .25s ease-in-out
    
.home
    .abouts
        .section
            .content
                position: relative
                min-height: 100vh
                +wrapper-full()

    .side-menu
        display: flex
        flex-direction: column
        justify-content: center
        height: 100%
        position: absolute
        left: 35px
        top: 0
        height: 100%
        z-index: 1

        li
            position: relative
            margin: 10px 0
            color: transparent

            &::before
                content: ''
                display: inline-block
                height: 100%
                width: 2px
                left: 0
                top: 0
                position: absolute

            a
                display: inline-block
                font-size: 14px
                padding: 15px 0 15px 12px

        &.black
            li
                &.active
                    color: #000000

                    &::before
                        background-color: #000000

                &::before
                    background-color: #b2b2b2

        &.white-before
            li
                &.active
                    color: #000000

                    &::before
                        background-color: #000000

                &::before
                    background-color: #ffffff
                

    .about-present
        font-size: 25px
        position: absolute
        left: 50%
        bottom: 50px
        transform: translateX(-50%)

        &.black
            color: #000

        &.white
            color: #ffffff

        &::after
            content: ''
            position: absolute
            left: 0
            bottom: -5px
            background-color: #f0c362
            width: 60%
            transition: width .25s ease-in-out
            height: 3px

        &:hover::after
            width: 100%

    .about
        &-row
            +row-flex()

        &-left,
        &-right
            position: relative
            +col-padding()
            box-sizing: border-box
            min-height: 100vh
            +size-full(6)

        &-left
            background-size: cover
            background-position: center bottom
            background-repeat: no-repeat

            &.section-1
                background-image: url(../assets/img/about-1.jpg)

            &.section-2
                &.black
                    background-image: url(../assets/img/about-2-black.png)

                &.blue
                    background-image: url(../assets/img/about-2-blue.png)

            &.section-3
                background-image: url(../assets/img/about-3.png)

            &.section-4
                &.black
                    background-image: url(../assets/img/about-4-black.png)

                &.blue
                    background-image: url(../assets/img/about-4-blue.png)

            &.section-5
                background-image: url(../assets/img/about-5.png)

            &.section-6
                background-size: contain
                background-color: #dddddd
                background-position: left bottom
                background-image: url(../assets/img/about-6.png)

        &-right
            padding: 130px 50px 50px 50px

            .read-more
                transition: all .5s ease-in-out
                transition-delay: .5s

                &.active
                    transition-delay: 0s
                    bottom: 400px
                    z-index: 2

            .table
                position: absolute
                width: calc(100% - 80px)
                height: calc(100% - 80px)
                left: 40px
                bottom: 50px
                z-index: -1
                opacity: 0
                background-size: contain
                background-position: center bottom
                background-repeat: no-repeat
                transition: opacity .5s ease-in-out

                &.active
                    opacity: 1
                    z-index: 1

            .opacied
                transition: opacity .50s ease-in-out
                transition-delay: 1s

                &.active
                    transition-delay: 0s
                    opacity: 0

            .read-more
                position: absolute
                left: 50%
                bottom: 50px
                transform: translateX(-50%)

            .title
                font-size: 32px
                text-transform: uppercase
                text-align: center
                z-index: 2

            .text
                font-size: 25px
                text-align: justify

            .quality-block
                &-title
                    text-align: center
                    font-size: 21px
                    font-family: $font-main-it
                    margin-bottom: 60px
                    margin-top: 15px

                .icons-row
                    display: flex
                    justify-content: space-around
                    padding: 0 60px
                    
                .icon
                    display: inline-block
                    height: 60px
                    width: 60px
                    background-repeat: no-repeat
                    background-position: center bottom
                    background-size: contain

                    &.palm
                        background-image: url(../assets/img/palm.png)

                    &.spool
                        background-image: url(../assets/img/spool.png)

                    &.eco
                        background-image: url(../assets/img/eco.png)

                    &.heart
                        background-image: url(../assets/img/heart.png)

                    &.thumb
                        background-image: url(../assets/img/thumb.png)

                    &.factory
                        background-image: url(../assets/img/factory.png)

                    &.yarn
                        background-image: url(../assets/img/yarn.png)

                    &.letter
                        background-image: url(../assets/img/letter.png)

                    &.add
                        background-image: url(../assets/img/add.png)

                    &-block
                        box-sizing: border-box
                        padding: 0 10px
                        text-align: center
                        font-size: 18px

                        p
                            text-align: center

                        span
                            font-family: $font-main-it 

            .colors
                text-align: center
                margin-top: 15px
                margin-bottom: 30px
                z-index: 2
                position: relative

                .color
                    display: inline-block
                    height: 40px
                    width: 40px
                    cursor: pointer
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center center
                    border-radius: 50%
                    box-sizing: border-box

                    &.selected
                        border: 2px solid #a7a7a7

                    &:nth-child(1)
                        background-image: url(../assets/img/color-1.png)
                        margin-right: 30px

                    &:nth-child(2)
                        background-image: url(../assets/img/color-2.png)  

    .gift-box
        .about-right
            display: flex
            flex-direction: column
            justify-content: space-between

            .who-give
                &-title
                    font-size: 25px
                    text-align: center 
                    margin-top: 15px

                &-block
                    display: flex

                &-element
                    display: inline-block
                    width: 50%
                    font-size: 25px
                    text-align: center
                    padding: 25px 0

                    span
                        padding-left: 20px
                        position: relative

                        &::before
                            display: inline-block
                            width: 10px
                            height: 10px
                            border-radius: 50%
                            content: ''
                            position: absolute
                            left: 0
                            top: 50%
                            margin-top: -5px
                            background-color: #f0c362

            .box-content
                padding: 0 100px

                &-title
                    font-size: 30px
                    text-align: center
                    padding-bottom: 20px

                &-row
                    +row-flex()

                &-column
                    +col-padding()
                    +size-full(3)
                    box-sizing: border-box
                    height: 200px
                    display: flex
                    flex-direction: column

                &-notice
                    font-size: 17px
                    font-style: italic
                    padding-top: 15px
                    color: #7b7b7b
                    text-align: center

                &-thumbnail
                    flex-grow: 1        
                    background-size: contain
                    background-position: center center
                    background-repeat: no-repeat

                    &.first
                        background-image: url(../assets/img/miniature-1.png)

                    &.second
                        background-image: url(../assets/img/miniature-2.png)

                    &.third
                        background-image: url(../assets/img/miniature-3.png)

                    &.fourth      
                        background-image: url(../assets/img/miniature-4.png)

    .necktie,
    .clamp,
    .shawl,
    .cufflinks,
    .letter
        .about-right
            display: flex
            flex-direction: column
            justify-content: space-between
            padding-bottom: 150px
            position: relative

    .letter
        .about-left
            background-size: contain
            background-position: top left
            background-color: #292929
            position: relative  

            .letter-text-vue
                max-width: 400px
                position: absolute
                top: 25%
                left: 50%
                transform: translateX(-50%)
                font-family: 'Marck Script', cursive
                font-size: 35px
                line-height: 85px
                color: #ffffff

        .about-right
            .table
                background: none
                height: 300px
                
                textarea
                    position: absolute
                    width: 100%
                    height: 100%
                    resize: none
                    bottom: 0
                    left: 0
                    outline: none
                    border: none
                    box-sizing: border-box
                    padding: 10px
                    font-size: 20px

    .necktie
        .table
            &.blue
                background-image: url(../assets/img/necktie-blue.png)

            &.black
                background-image: url(../assets/img/necktie-black.png)

    .clamp
        .table
            background-image: url(../assets/img/clamp.png)

    .shawl
        .table
            &.blue
                background-image: url(../assets/img/shawl-blue.png)

            &.black
                background-image: url(../assets/img/shawl-black.png)

    .cufflinks
        .table
            background-image: url(../assets/img/cufflinks.png)


@media screen and (max-width: 1600px)
    .home 
        .about-right 
            .title
                font-size: 25px

            .text
                font-size: 20px

            .quality-block-title
                margin-bottom: 20px

        .gift-box
            .about-right
                .who-give-title
                    font-size: 20px

                .who-give-element
                    font-size: 18px

                .box-content
                    padding: 0 40px

                .box-content-title
                    font-size: 20px

                .box-content-column
                    height: 110px

@media screen and (max-width: 1400px)
    .home
        .about-right
            padding: 100px 20px 20px 20px

            .title
                font-size: 22px

            .text
                font-size: 18px

            .quality-block-title
                margin-bottom: 15px

            .who-give-title
                font-size: 20px

            .who-give-element
                font-size: 18px

            .box-content-title
                font-size: 20px

            .quality-block 
                .icon
                    height: 50px
                    width: 50px

                .icon-block
                    font-size: 15px

@media screen and (max-width: 1280px)
    .home
        .sections
            .product
                &-column
                    &.right
                        transform: translate(0, 0)

@media screen and (max-width: 991px)
    .home
        .about-left
            height: 100vh
            width: 100%

        .about-right
            height: 100vh
            width: 100%

        .side-menu
            display: none

        .letter 
            .about-left
                background-position: center center

        .necktie,
        .clamp,
        .shawl,
        .letter
            .home-logo.on-top
                background-image: url(../assets/img/logo-second.svg)

            .home-bars.on-top
                span,
                span::before,
                span::after
                    background-color: #fff

        .cufflinks
            .home-logo.on-slider
                background-image: url(../assets/img/logo.svg)

            .about-present.white
                color: #000000

        .home-socials.on-slider a svg path,
        .home-socials.on-top a svg path
            fill: #000000

        .about-right

            .title
                font-size: 35px

            .text
                font-size: 30px

            .table
                bottom: 120px
                height: calc(100% - 160px)

        .gift-box
            .about-right
                .box-content
                    padding: 0 120px

        .letter 
            .about-right 
                .table
                    height: 240px   