.agreement
    max-width: 1920px
    padding: 15px
    font-family: $font-main
    margin: 0 auto
    
    .logo
        display: inline-block
        width: 170px
        height: 90px
        background-image: url(../assets/img/logo.svg)
        background-size: contain
        background-position: center center
        background-repeat: no-repeat

        &-wrapper
            text-align: center
            margin-bottom: 30px

    h1
        font-size: 30px
        margin-bottom: 20px
        text-align: justify

        &.heading
            text-align: center

    h2
        font-size: 25px
        margin: 15px 0

    h3
        font-size: 20px
        padding-left: 15px

    strong
        font-weight: 700 