@font-face {
    font-family: 'Cormorant Garamond Regular';
    src: url('../assets/fonts/CormorantGaramond-Regular.eot');
    src: url('../assets/fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/CormorantGaramond-Regular.woff') format('woff'),
         url('../assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond Italic';
    src: url('../assets/fonts/CormorantGaramond-Italic.eot');
    src: url('../assets/fonts/CormorantGaramond-Italic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/CormorantGaramond-Italic.woff') format('woff'),
         url('../assets/fonts/CormorantGaramond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Galaxie Polaris - Book';
    src: url('../assets/fonts/GALAXIEPOLARIS-BOOK.eot');
    src: url('../assets/fonts/GALAXIEPOLARIS-BOOK.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/GALAXIEPOLARIS-BOOK.woff') format('woff'),
         url('../assets/fonts/GALAXIEPOLARIS-BOOK.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theano Didot';
    src: url('../assets/fonts/TheanoDidot-Regular.eot');
    src: url('../assets/fonts/TheanoDidot-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/TheanoDidot-Regular.woff') format('woff'),
         url('../assets/fonts/TheanoDidot-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../assets/fonts/MinionPro-Regular.eot');
    src: url('../assets/fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/MinionPro-Regular.woff') format('woff'),
         url('../assets/fonts/MinionPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic');