.swal-button.swal-button--confirm
    background-color: #f7b21d
    
.home
    max-width: 1920px
    margin: 0 auto
    overflow-x: hidden
    position: relative

    &-logo,
    &-bars,
    &-socials,
    &-order-now
        position: absolute
        z-index: 2

    &-logo,
    &-bars
        top: 40px
        height: 60px

    &-logo
        left: 70px
        width: 115px
        background-position: center center
        background-repeat: no-repeat
        background-size: contain

        &.on-top,
        &.on-product,
        &.on-about
            background-image: url(../assets/img/logo.svg)

        &.on-slider
            background-image: url(../assets/img/logo-second.svg)

        &.on-contacts
            background-image: url(../assets/img/logo-third.svg)

    &-bars
        right: 70px
        width: 60px
        cursor: pointer

        &.on-top,
        &.on-product,
        &.on-about
            span,
            span::before,
            span::after
                background-color: #000000

        &.on-slider
            span,
            span::before,
            span::after
                background-color: #ffffff

        &.on-contacts
            span,
            span::before,
            span::after
                background-color: #cdcdcd

        span,
        span::before,
        span::after
            height: 3px
            width: 45px
            display: inline-block
            position: absolute
            top: 50%
            left: 50%
            margin-left: -22.5px
            margin-top: -1.5px
            transition: all .25s ease-in-out

        span::before,
        span::after
            content: ''

        span::before
            transform: translateY(-8px)
            transform-origin: left bottom

        span::after
            transform: translateY(8px)
            transform-origin: left top

        &:hover
            span,
            span::before,
            span::after
                border-radius: 45px

            span::before,
            span::after
                margin-left: -20.5px

            span::before
                transform: translateY(0) rotate(-45deg) scaleX(.5) 
                
            span::after
                transform: translateY(0) rotate(45deg) scaleX(.5)

    &-socials
        left: 70px
        bottom: 20px
        width: 20px
        height: 60px

        &.on-top,
        &.on-product,
        &.on-about
            a svg path 
                fill: #a8a7a7

            a
                &:hover
                    svg path
                        fill: rgba(#000000, .8)

        &.on-slider
            a svg path 
                fill: #ffffff

            a
                &:hover
                    svg path
                        fill: rgba(#ffffff, .8)

        &.black
            a svg path 
                fill: #000000

            a
                &:hover
                    svg path
                        fill: rgba(#000000, .8)

        a
            display: block
            height: 20px
            width: 100%

            svg
                width: 100%
                height: 100%
                
                path
                    transition: fill .15s ease-in-out

        a:first-child,
        a:last-child
            position: absolute

        a:first-child
            top: 0

        a:last-child
            bottom: 0

    &-order-now
        text-transform: uppercase
        font-size: 19px
        bottom: 60px
        right: 100px
        letter-spacing: 1.88px

        &.on-slider
            color: #ffffff

        &.on-about
            color: #000000

        &.on-contacts
            color: #cdcdcd

        &::after
            content: ''
            display: inline-block
            position: absolute
            left: 0
            bottom: -10px
            width: 45px
            height: 2px
            background-color: #f0c362 
            transition: width .25s ease-in-out  

        &:hover::after
            width: 100%

    .sections

        .section
            background-color: #f3f3f3
            transition: filter .25s ease-in-out
            z-index: 1

            &.overlayed
                transition: filter .25s ease-in-out
                filter: blur(2px)

            .content
                position: relative

        .top
            .content
                height: 100vh
                +wrapper-full()

            &-row
                +row-flex()

            &-left,
            &-right
                +col-padding()
                height: 100vh
                position: relative

            &-left
                +size(5)

            &-right
                +size(7)

            &-left
                &-sign-block
                    display: flex
                    flex-direction: column
                    align-items: center
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-10%, -63%)

                &-play
                    position: absolute
                    width: 25px
                    height: 25px
                    background-image: url(../assets/img/play.png)
                    background-position: center center
                    background-size: contain
                    background-repeat: no-repeat
                    opacity: .6
                    cursor: pointer
                    transition: opacity .25s ease-in-out

                    &:hover
                        opacity: 1

                &-sign
                    background-image: url(../assets/img/sign.png)
                    background-size: contain
                    background-repeat: no-repeat
                    background-position: center center
                    height: 230px
                    width: 100%

                &-text
                    font-size: 42px
                    text-align: center
                    white-space: nowrap
                    margin-bottom: 50px

                &-more
                    font-size: 28px
                    padding-left: 60px
                    position: relative

                    &::before
                        content: ''
                        display: inline-block
                        width: 40px
                        height: 1px
                        left: 0
                        top: 50%
                        background-color: #000000
                        position: absolute

                    &::after
                        content: ''
                        display: inline-block
                        width: 0
                        position: absolute
                        left: 60px
                        bottom: -3px
                        height: 1px
                        background-color: #000000
                        transition: width .25s ease-in-out

                    &:hover::after
                        width: calc(100% - 60px)

                    &-wrapper
                        width: 100%

            &-right
                position: relative

                &::after
                    position: absolute
                    left: 0
                    bottom: 0
                    height: calc(100% - 50px)
                    width: 100%
                    content: ''
                    display: block
                    background-image: url(../assets/img/box-with-chair.png)
                    background-position: right bottom
                    background-size: contain
                    background-repeat: no-repeat

                &-title
                    position: absolute
                    display: flex
                    flex-direction: column
                    align-items: center
                    color: #080d18
                    bottom: 50%
                    right: 50%
                    transform: translate(230px, -56px)
                    z-index: 1

                &-cart
                    height: 60px
                    width: 30px
                    background-image: url(../assets/img/cart.svg)
                    background-position: center center
                    background-size: contain
                    background-repeat: no-repeat

                &-text
                    text-transform: uppercase
                    font-size: 27px
                    letter-spacing: 1px
                    margin: 10px 0
                    white-space: nowrap

                &-more
                    font-size: 19px
                    padding-left: 40px
                    position: relative

                    &::before
                        content: ''
                        display: inline-block
                        width: 30px
                        height: 1px
                        left: 0
                        top: 50%
                        background-color: #000000
                        position: absolute

                    &::after
                        content: ''
                        display: inline-block
                        width: 0
                        position: absolute
                        left: 40px
                        bottom: -3px
                        height: 1px
                        background-color: #000000
                        transition: width .25s ease-in-out

                    &:hover::after
                        width: calc(100% - 40px)

            &-mouse
                cursor: pointer
                left: 50%
                bottom: 20px
                transform: translateX(-50%)
                height: 60px
                width: 30px
                background-image: url(../assets/img/mouse.svg)
                background-position: center bottom
                background-size: contain
                background-repeat: no-repeat
                position: absolute
                z-index: 1
                transform: translateY(0)

                &:hover::after
                    animation: none
                    transform: translateY(0)

                &::after
                    content: ''
                    display: inline-block
                    width: 5px
                    height: 5px
                    background-color: #09131C
                    position: absolute
                    left: 50%
                    margin-left: -2.5px
                    bottom: 10px
                    border-radius: 50%
                    animation: mouse-animation 1.5s infinite ease-in-out alternate-reverse
                    transition: transform 1s ease-in-out


                @keyframes mouse-animation
                    0%
                        transform: translateY(-5px)

                    100%
                        transform: translateY(2px)

        .product
            .content
                height: 100vh
                +wrapper-full()

            .remain
                position: absolute
                font-family: $font-main-it
                display: inline-block
                font-size: 14px
                text-align: center
                color: #ffffff
                top: 50%
                transform: translateY(-50%) rotate(-90deg)
                right: 70px

                .count
                    display: inline-block
                    text-align: center
                    font-size: 18px

            &-row
                +row-flex()

            &-column
                +col-padding()
                box-sizing: border-box
                min-height: 100vh

                &.left
                    +size-full(7)
                    padding: 150px 90px 90px 150px
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                    .title
                        font-size: 30px
                        letter-spacing: 1.5px

                    .text
                        font-size: 24px
                        text-align: justify

                    .box-content
                        +wrapper-full()

                        &-title
                            font-size: 30px
                            text-align: center
                            padding-bottom: 80px

                        &-row
                            +row-flex()
                            justify-content: center

                        &-column
                            +col-padding()
                            width: 20%
                            box-sizing: border-box
                            height: 200px
                            display: flex
                            flex-direction: column
                            margin: 0 5px
                            cursor: pointer

                            &:hover
                                >.box-content-notice
                                    color: #000000

                                    &::after
                                        transform: scaleX(1)

                        &-notice
                            font-size: 17px
                            font-style: italic
                            padding-top: 15px
                            color: #7b7b7b
                            text-align: center
                            transition: color .25s ease-in-out
                        
                            &::after
                                content: ''
                                display: inline-block
                                width: 100%
                                height: 2px
                                bottom: 0
                                background-color: #f0d362
                                transform: scaleX(0)
                                transition: transform .25s ease-in-out

                        &-thumbnail
                            flex-grow: 1        
                            background-size: contain
                            background-position: center center
                            background-repeat: no-repeat

                            &.first
                                background-image: url(../assets/img/miniature-1.png)

                            &.second
                                background-image: url(../assets/img/miniature-2.png)

                            &.third
                                background-image: url(../assets/img/miniature-3.png)

                            &.fourth      
                                background-image: url(../assets/img/miniature-4.png)

                &.right         
                    +size-full(5)   
                    background-image: url(../assets/img/product-bg.png)
                    background-size: cover
                    background-position: left bottom
                    background-repeat: no-repeat     
                    padding-top: 150px
                    transform: translateX(100%)
                    transition: transform .5s ease-in-out
                    transition-delay: .7s

                    &.to-left
                        transform: translateX(0)

                    .purchase
                        &-wrapper
                            color: #ffffff
                            text-align: center

                        &-more
                            font-size: 17px
                            padding-left: 30px
                            position: relative

                            &::before
                                content: ''
                                display: inline-block
                                width: 25px
                                height: 1px
                                left: 0
                                top: 50%
                                background-color: #ffffff
                                position: absolute

                            &::after
                                content: ''
                                display: inline-block
                                width: 0
                                position: absolute
                                left: 30px
                                bottom: -3px
                                height: 1px
                                background-color: #ffffff
                                transition: width .25s ease-in-out

                            &:hover::after
                                width: calc(100% - 30px)

                        &-title
                            font-size: 29px
                            letter-spacing: 1.5px
                            text-transform: uppercase
                            margin: 25px 0

                        &-button
                            cursor: pointer
                            font-family: $font-galaxy
                            font-size: 17px
                            color: #404040
                            padding: 13px 45px 13px 25px
                            background-image: url(../assets/img/purchase-button.png)
                            background-size: contain
                            background-repeat: no-repeat
                            background-position: center center
                            display: inline-block
                            opacity: .95
                            transition: opacity .25s ease-in-out

                            span
                                font-family: $font-main
                                font-size: 14px
                                padding-left: 5px

                            &:hover
                                opacity: 1


        .slider
            .content
                height: 100vh
                position: relative

            &-container
                height: 100%
                overflow: hidden
                box-sizing: border-box
                box-shadow: inset 0 -80px 200px 0px rgba(0, 0, 0, 0.5)

            &-slick
                &-item
                    height: 100vh
                    background-position: center center
                    background-size: cover
                    background-repeat: no-repeat

                    &.item-1
                        background-image: url(../assets/img/slider-1.jpg)

                    &.item-2
                        background-image: url(../assets/img/slider-2.jpg)

                    &.item-3
                        background-image: url(../assets/img/slider-3.jpg)

                    &.item-4
                        background-image: url(../assets/img/slider-4.jpg)

            .slick-prev,
            .slick-next,
            .slick-dots
                position: absolute
                z-index: 1

            .slick-prev,
            .slick-next
                width: 200px
                height: 100%
                top: 0
                background-color: transparent
                padding: 0
                border: none
                cursor: pointer

                span
                    position: absolute
                    width: 30px
                    height: 40px
                    left: 50%
                    top: 50%
                    margin-top: -20px
                    margin-left: -15px
                    background-image: url(../assets/img/chevron.svg)
                    background-position: center center
                    background-size: contain
                    background-repeat: no-repeat

                &:focus
                    outline: none

            .slick-next
                span
                    transform: rotate(180deg)

            .slick-prev
                left: 0

            .slick-next
                right: 0

            .slick-dots
                bottom: 0
                left: 0
                height: 50px
                z-index: 1
                width: 100%
                display: flex
                justify-content: center

                button
                    background-color: transparent
                    position: relative
                    width: 14px
                    height: 14px
                    margin-right: 15px
                    color: transparent
                    border: none
                    cursor: pointer

                    &::after
                        display: block
                        content: ''
                        width: 100%
                        position: absolute
                        height: 100%
                        border-radius: 50%
                        background-color: #ffffff
                        left: 0
                        top: 0
                        box-sizing: border-box

                    &:focus
                        outline: none

                li
                    &:last-child
                        button
                            margin-right: 0

                    &.slick-active
                        button
                            &::after
                                background-color: transparent
                                border: 3px solid #fff
        
        .about
            &-quote
                display: flex
                flex-direction: column
                align-items: center
                position: absolute
                bottom: 20px
                left: 50%
                transform: translateX(-50%)

                .emblem
                    display: inline-block
                    width: 35px
                    height: 35px
                    background-image: url(../assets/img/emblem.png)
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: contain

                .quote
                    font-size: 13px
                    font-family: $font-minion
                    color: #000000
                    font-weight: 600
                    margin-top: 20px

            .content
                height: 100vh
                display: flex
                flex-direction: column
                justify-content: center

            .rectangle
                height: 40%
                background-color: #e6e6e6
                position: relative
                display: flex
                justify-content: center
                align-items: center

                h2
                    font-size: 50px
                    color: #080d18
                    font-family: $font-minion

                    span
                        font-family: $font-theano
                        letter-spacing: 1.5px

        .contacts
            background-color: #3b3b3b      

            .made-by,
            .copyright   
                color: #cdcdcd
                font-size: 19px
                position: absolute
                bottom: 40px
            
            .made-by
                left: 150px

                a
                    position: relative

                    &::after
                        position: absolute
                        content: ''
                        display: block
                        width: 0
                        height: 1px
                        bottom: -2px
                        left: 0
                        background-color: #cdcdcd
                        transition: width .25s ease-in-out

                    &:hover::after
                        width: 100%

            .copyright
                left: 50%
                transform: translateX(-50%)

                span
                    font-family: $font-theano
            
            &-wrapper
                +wrapper-full()

            &-row
                +row-flex()

            &-left,
            &-right
                +col-padding()
                height: 100vh
                box-sizing: border-box
                padding-top: 150px
                padding-bottom: 160px

            &-left
                +size-full(6)
                display: flex
                padding-left: 130px

                .first
                    display: flex
                    flex-direction: column
                    justify-content: center

                    .socials
                        width: 20px
                        height: 60px
                        display: flex
                        flex-direction: column
                        justify-content: space-between

                        a
                            display: inline-block
                            height: 20px
                            width: 100%

                            svg
                                width: 100%
                                height: 100%

                                path
                                    fill: rgba(#cdcdcd, .8)
                                    transition: all .25s ease-in-out

                            &:hover
                                svg path
                                    fill: rgba(#cdcdcd, 1)

                .second
                    flex-grow: 1
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                    .title,
                    .more-wrapper
                        text-align: center

                    .thumbnail-wrapper
                        flex-grow: 1
                        box-sizing: border-box
                        padding: 50px
                        display: flex
                        flex-direction: column

                        .thumbnail
                            flex-grow: 1
                            width: 100%
                            height: 100%
                            background-color: #fff
                            position: relative

                            &::after
                                display: block
                                position: absolute
                                content: ''
                                height: calc(100% - 4px)
                                width: calc(100% - 4px)
                                left: 2px
                                top: 2px
                                background-image: url(../assets/img/box-open.png)
                                background-size: cover
                                background-position: bottom right
                                background-repeat: no-repeat

                    .title
                        text-transform: uppercase
                        font-size: 32px
                        color: #cdcdcd
                        letter-spacing: 1.5px

                    .more
                        display: inline-block
                        font-size: 21px
                        color: #cdcdcd
                        padding-left: 40px
                        position: relative

                        &::before
                            position: absolute
                            left: 0
                            top: 50%
                            background-color: #cdcdcd
                            width: 30px
                            height: 1px
                            content: ''

                        &::after
                            content: ''
                            display: inline-block
                            width: 0
                            position: absolute
                            left: 40px
                            bottom: -3px
                            height: 1px
                            background-color: #cdcdcd
                            transition: width .25s ease-in-out

                        &:hover::after
                            width: calc(100% - 40px)

                .third   
                    display: flex
                    flex-direction: column
                    justify-content: center

                    .cart
                        display: inline-block
                        width: 30px
                        height: 60px
                        background-image: url(../assets/img/cart.svg)
                        background-position: center center
                        background-size: contain
                        background-repeat: no-repeat


            &-right
                +size-full(6)
                padding-right: 130px

                &-inner
                    height: 100%
                    width: 100%
                    box-sizing: border-box
                    padding: 100px 0
                    display: flex
                    flex-direction: column
                    justify-content: space-around
                    align-items: center

                    .title
                        color: #cdcdcd
                        font-size: 30px
                        position: relative
                        letter-spacing: 4px

                        &::after
                            content: ''
                            position: absolute
                            left: 0
                            bottom: -5px
                            display: block
                            width: 40px
                            height: 2px
                            background-color: #f0c362

                    .text-block
                        text-align: center

                        strong,
                        small
                            display: block
                            letter-spacing: 1.88px

                        strong
                            font-size: 25px
                            color: #cdcdcd

                        small
                            font-size: 16px
                            color: #868686

                        .icons
                            padding-top: 10px
                            text-align: center

                            .icon
                                display: inline-block
                                width: 30px
                                height: 30px
                                background-size: contain
                                background-position: center center
                                background-repeat: no-repeat
                                
                                &:not(.alone)
                                    margin-right: 18px

                                &:last-child
                                    margin-right: 0

                                &.telegram
                                    background-image: url(../assets/img/telegram.png)
                                    
                                &.viber
                                    background-image: url(../assets/img/viber.png)

                                &.mail
                                    background-image: url(../assets/img/mail.png)

    .menu
        position: absolute
        right: 0
        top: 0
        height: 100vh
        background-color: #f3f3f3
        transform: translateX(100%)
        transition: transform .30s ease-in-out
        z-index: 3
        padding-left: 50px
        overflow-y: auto
        display: flex
        flex-direction: column
        justify-content: space-between
        +lg(position, fixed)

        &.shown
            transform: translateX(0)

        &-cross            
            display: inline-block
            width: 50px
            height: 50px
            cursor: pointer
            margin-top: 15px
            margin-right: 15px
            position: relative

            &-wrapper
                text-align: right

            span
                display: inline-block
                width: 35px
                height: 2px
                background-color: #000000
                position: absolute
                left: 50%
                top: 50%
                margin-left: -17.5px
                margin-top: -1px

                &:first-child
                    transform: rotate(45deg)

                &:last-child
                    transform: rotate(-45deg)

        &-book
            margin-top: 15px
            padding-right: 150px

            &-title
                margin-top: 40px
                font-size: 35px
                text-transform: uppercase
                margin-bottom: 25px
                display: block 
                position: relative

                &::after
                    display: inline-block
                    content: ''
                    width: 0
                    height: 2px
                    position: absolute
                    left: 0
                    bottom: -5px
                    background-color: #f0d362
                    transition: all .25s ease-in-out

                &:hover::after
                    width: 100%
            
            &-count
                font-size: 25px

                &-wrapper
                    font-style: italic
                    text-align: center
                    display: inline-block

            &-remain
                font-size: 16px

        &-list
            margin-bottom: 40px

            li
                padding: 45px 0
                list-style-type: none

                a
                    position: relative
                    font-size: 35px
                    text-transform: uppercase

                    &::after
                        width: 0
                        position: absolute
                        left: 0
                        bottom: -7px
                        content: ''
                        display: block
                        height: 2px
                        background-color: #f0d362
                        transition: all .25s ease-in-out

                    &:hover::after
                        width: 100%

                &.active
                    a::after
                        width: calc(100% + 50px)                        

    .overlay
        position: absolute
        height: 100%
        width: 100%
        left: 0
        top: 0
        z-index: -1
        background-color: #ffc85d
        opacity: 0
        transition: all .30s ease-in-out

        &.shown
            transition: all .30s ease-in-out
            opacity: 0.65
            z-index: 2

.typed-cursor
    font-size: 30px

@media screen and (max-width: 1600px)
    .home
        .sections
            .top
                &-left
                    &-sign-block
                        transform: translate(-35%, -50%)

            .product
                &-column
                    &.left
                        .title
                            font-size: 35px

                        .text
                            font-size: 20px

                        .box-content
                            &-title
                                padding-bottom: 25px

            .contacts
                &-left
                    padding-left: 60px

                    .second 
                        .thumbnail-wrapper
                            padding: 15px

                &-left,
                &-right
                    padding-top: 130px
                    padding-bottom: 100px

                &-right
                    padding-right: 60px

                    &-inner
                        padding: 0

@media screen and (max-width: 1400px)
    .home
        .sections
            .top
                &-right
                    &-text
                        font-size: 25px

                    &-title
                        transform: translate(240px, -25px)

                &-left
                    &-text
                        margin-bottom: 20px

            .product
                &-column
                    &.left
                        padding: 140px 30px 30px 130px

                        .title
                            font-size: 25px

                        .text
                            font-size: 18px

                        .box-content
                            &-title
                                font-size: 25px  
                                padding-bottom: 10px

@media screen and (max-width: 1280px)
    .home
        .sections


            .product
                &-column
                    &.left 
                        .box-content-column
                            padding: 0

@media screen and (max-width: 1100px)
    .home
        .sections
            .top
                .content
                    height: auto

                &-left
                    height: auto
                    width: 100%

                    &-sign-block
                        position: relative
                        left: 0
                        top: 0
                        transform: none
                        padding-top: 150px

                    &-more-wrapper
                        text-align: center

                &-right
                    height: 1300px
                    width: 100%

                    &-title
                        transform: translate(300px, -25px)

                &-mouse
                    display: none

            .contacts
                &-right
                    padding-bottom: 150px

                .made-by,
                .copyright
                    left: 50%
                    transform: translateX(-50%)

                .copyright
                    bottom: 80px

                .home-order-now
                    bottom: 140px

                .content
                    height: auto

                &-left
                    height: 100vh

                &-left, 
                &-right
                    width: 100%
                    padding-left: 15px
                    padding-right: 15px

                &-right
                    height: auto
                    padding-top: 0

                    &-inner 
                        .text-block
                            padding: 40px

                        .title
                            margin-bottom: 40px

@media screen and (max-width: 991px)
    .home
        .sections

            .slider
                display: none

            .product
                .content
                    height: auto

                &-column
                    &.left
                        height: auto
                        width: 100%
                        min-height: 700px
                        padding: 140px 20px 30px 30px
                        
                        .box-content-title
                            padding-bottom: 40px

                        .text
                            font-size: 25px

                        .title
                            font-size: 30px

                    &.right
                        height: 300px
                        width: 100%  
                        min-height: 500px

            .about 
                .content
                    height: 800px

                .rectangle 
                    h2
                        font-size: 35px

@media screen and (max-width: 768px)
    .home
        .sections
            .top
                &-mouse
                    display: none

                &-right
                    height: 800px

                    &-title
                        transform: translate(165px, 0)