$color-green: lighten(#1b5e20, 10%)
$color-red: #b71c1c
$color-orrange-darken: darken($color-orrange, 20%)
    
.purchase
    min-height: 100vh
    background-image: url(../assets/img/slider-1.jpg)
    background-size: cover
    background-repeat: no-repeat
    display: flex
    flex-direction: column

    &-logo
        height: 60px
        width: 115px
        background-image: url(../assets/img/logo.svg)
        background-repeat: no-repeat
        background-position: center center

        &-row
            display: flex
            justify-content: space-between
            align-items: center
            padding: 30px 0
            background-color: #f3f3f3
            +small-shadow()

        &-visa-mastercard,
        &-liqpay
            width: 300px
            background-position: center center
            background-repeat: no-repeat
            background-size: contain

        &-visa-mastercard
            height: 60px
            background-image: url(../assets/img/visa-mastercard.png)

        &-liqpay
            height: 30px
            background-image: url(../assets/img/liqpay.png)

    &-form
        overflow-x: hidden
        font-family: $font-main

        &-wrapper
            flex-grow: 1
            display: flex
            justify-content: center
            align-items: center
            padding: 15px 0

        &-box
            width: 500px
            max-width: 95%
            background-color: #f3f3f3
            border-radius: 30px
            +small-shadow()

        &-heading
            text-align: center
            padding: 20px 0
            font-size: 20px
            background-color: #e2e2e2
            color: #000
            border-top-left-radius: 30px
            border-top-right-radius: 30px
            font-family: $font-minion

        &-button
            padding: 15px 0
            border: none
            background-color: #e2e2e2
            border-bottom-left-radius: 30px
            border-bottom-right-radius: 30px
            cursor: pointer
            width: 100%
            transition: all .1s ease-in-out

            &:hover
                background-color: darken(#e2e2e2, 5%)

            &:active
                background-color: darken(#e2e2e2, 15%)

            &.button-pay
                background-color: $color-green
                color: #ffffff

                &:hover
                    background-color: darken($color-green, 5%)

                &:active
                    background-color: darken($color-green, 15%)

        &-stage
            width: 100%

            &-wrapper
                transition: all .5s ease-in-out
                width: 200%
                display: flex
                flex-wrap: nowrap

                &.stage-1
                    transform: translateX(0)

                &.stage-2
                    transform: translateX(-50%)

            &-inner
                padding: 15px
                height: 100%
                box-sizing: border-box
                display: flex
                flex-direction: column
                justify-content: space-between

            &.stage-2
                .purchase-form-stage-inner

                    .form-row
                        textarea
                            height: 300px
                            resize: none          

        &-stage-heading
            text-align: center
            font-size: 20px
            padding-bottom: 15px
            padding-top: 20px

            &.with-comment
                padding-bottom: 0

        &-stage-comment
            padding-bottom: 15px
            text-align: center
            font-size: 14px     
            color: #828080 

        &-choose-color
            &-wrap
                flex-grow: 1
                display: flex
                align-items: center

            &-column
                flex-grow: 1
                text-align: center

                label
                    cursor: pointer

                input[type="radio"]
                    visibility: hidden
                    display: none

                    &:checked + .purchase-form-color-texture
                        border-color: $color-green
        
        &-color
            &-name
                text-align: center
                font-size: 24px
                padding-bottom: 15px

            &-texture
                width: 60px
                height: 60px
                display: inline-block
                border-radius: 50%
                background-position: center center
                background-repeat: no-repeat
                background-size: cover
                border: 2px solid transparent

                &.color-sapfir
                    background-image: url(../assets/img/color-1.png)

                &.color-grafit
                    background-image: url(../assets/img/color-2.png)

        &-price
            text-align: center
            padding-top: 30px
            padding-bottom: 60px
            font-size: 45px
            transition: color .3s ease-in-out
            
            &.hidden
                color: transparent

        &-agreement-wrap
            text-align: center

            a
                color: #00f
                text-decoration: underline

            input
                position: relative
                bottom: -3px

        &-visa-mastercard
            width: 100%
            height: 60px
            background-image: url(../assets/img/visa-mastercard.png)
            background-size: contain
            background-repeat: no-repeat
            background-position: center center
            margin-top: 15px

    .form-row
        position: relative
        padding-top: 20px
        padding-bottom: 20px
        margin-bottom: 25px
        overflow-x: hidden

        &-wrap
            display: flex

        &-after
            position: absolute
            bottom: 20px
            left: 0
            height: 2px
            background-color: $color-orrange-darken
            width: 100%
            transition: all .3s ease-in-out
            transform: scaleX(0)
            transform-origin: left center

        &.half
            display: inline-block
            width: calc(50% - 7.5px)
            
            &:first-child
                margin-right: 7.5px

            &:last-child
                margin-left: 7.5px

                .form-row-after
                    transform-origin: right center

        &.last
            margin-bottom: 0

        &-error
            position: absolute
            width: 100%
            overflow: hidden
            white-space: nowrap
            height: 20px
            font-size: 12px
            color: $color-red
            transition: transform .3s ease-in-out
            transform: translateX(-100%)
            transform-origin: left center

        input,
        textarea
            display: block
            width: 100%
            margin: 0
            padding: 0
            box-sizing: border-box
            height: 45px
            border-top: none
            border-right: none
            border-left: none
            border-bottom: 2px solid #000
            font-size: 18px
            cursor: pointer
            background-color: #f3f3f3
            transition: all .3s ease-in-out

            &:focus
                & + label
                    color: $color-orrange-darken

                & ~ .form-row-after
                    transform: scaleX(1)

            &.valid
                & + label
                    color: $color-green

                & ~ .form-row-after
                    transform: scaleX(1)
                    background-color: $color-green

                & ~ .form-row-error
                    transform: translateX(-100%)

            &.invalid
                & + label
                    color: $color-red

                & ~ .form-row-after
                    transform: scaleX(1)
                    background-color: $color-red

                & ~ .form-row-error
                    transform: translateX(0)

        label
            position: absolute
            left: 0
            top: 0
            color: #000000
            font-size: 14px
            transition: all .3s ease-in-out

            