@import 'preloader'
@import 'smart-grid'
@import 'fonts'
@import 'variables'

+reset()

*
    outline: none

    &:focus
        outline: none

    &:hover
        outline: none

    &:active
        outline: none

body
    font-family: $font-main
    background-color: #f3f3f3

a
    text-decoration: none
    color: inherit

@import 'home'
@import 'about'
@import 'purchase'
@import 'agreement'