@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic);.frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #f3f3f3;
  color: #fff;
  z-index: 999;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.frame.done {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -110px;
}

.dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  left: 95px;
  background: #f0c362;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  left: 80px;
  background: #f0c362;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 65px;
  background: #f0c362;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump-jump-2 {
  0%, 40% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-2 {
  0%, 40% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump-jump-3 {
  0%, 10% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-3 {
  0%, 10% {
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@font-face {
  font-family: 'Cormorant Garamond Regular';
  src: url(/fonts/CormorantGaramond-Regular.eot?dbf209828e43604cb0f7cf26b45fa335);
  src: url(/fonts/CormorantGaramond-Regular.eot?dbf209828e43604cb0f7cf26b45fa335) format("embedded-opentype"), url(/fonts/CormorantGaramond-Regular.woff?c202e159b8daf628a6172c3ca98c1d88) format("woff"), url(/fonts/CormorantGaramond-Regular.ttf?13bf8bed4897f08a18c3f708ab11e2ff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond Italic';
  src: url(/fonts/CormorantGaramond-Italic.eot?c6fe997f1f2a9840a6c23ecf5940d5bb);
  src: url(/fonts/CormorantGaramond-Italic.eot?c6fe997f1f2a9840a6c23ecf5940d5bb) format("embedded-opentype"), url(/fonts/CormorantGaramond-Italic.woff?5e60f50b118c9f477fc45c2a8147a83c) format("woff"), url(/fonts/CormorantGaramond-Italic.ttf?742624e6cddd86fae96d0b46fb1fdfa2) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galaxie Polaris - Book';
  src: url(/fonts/GALAXIEPOLARIS-BOOK.eot?14d6c41dab29ce617890c4d3aec76f7e);
  src: url(/fonts/GALAXIEPOLARIS-BOOK.eot?14d6c41dab29ce617890c4d3aec76f7e) format("embedded-opentype"), url(/fonts/GALAXIEPOLARIS-BOOK.woff?41ed2a918015e363a66c168ad7fee618) format("woff"), url(/fonts/GALAXIEPOLARIS-BOOK.ttf?188e177206cb91b2460517fab21d43b6) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Theano Didot';
  src: url(/fonts/TheanoDidot-Regular.eot?556d6ae6e5cb6ed9aec5853a65b5af88);
  src: url(/fonts/TheanoDidot-Regular.eot?556d6ae6e5cb6ed9aec5853a65b5af88) format("embedded-opentype"), url(/fonts/TheanoDidot-Regular.woff?66380cf02e0e6eef915937d9f67cda83) format("woff"), url(/fonts/TheanoDidot-Regular.ttf?e2f3ad86f24a760f25b9b6eaafaa3d4d) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url(/fonts/MinionPro-Regular.eot?542ed372509d2bb4d95f0e10350d2ca4);
  src: url(/fonts/MinionPro-Regular.eot?542ed372509d2bb4d95f0e10350d2ca4) format("embedded-opentype"), url(/fonts/MinionPro-Regular.woff?b84a9292318fc0aa39736227bfe370d3) format("woff"), url(/fonts/MinionPro-Regular.ttf?09e0460126d2a1ac944acc5f73557f7d) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  outline: none;
}

*:focus {
  outline: none;
}

*:hover {
  outline: none;
}

*:active {
  outline: none;
}

body {
  font-family: "Cormorant Garamond Regular", serif;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: inherit;
}

.swal-button.swal-button--confirm {
  background-color: #f7b21d;
}

.home {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.home-logo,
.home-bars,
.home-socials,
.home-order-now {
  position: absolute;
  z-index: 2;
}

.home-logo,
.home-bars {
  top: 40px;
  height: 60px;
}

.home-logo {
  left: 70px;
  width: 115px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-logo.on-top,
.home-logo.on-product,
.home-logo.on-about {
  background-image: url(/images/logo.svg?0c696586bd41d17eb22d0e271b914e6f);
}

.home-logo.on-slider {
  background-image: url(/images/logo-second.svg?ec0c52858a692634b3e40f436c19a070);
}

.home-logo.on-contacts {
  background-image: url(/images/logo-third.svg?d7bbe8a0f4a4728344b6f858ae14b844);
}

.home-bars {
  right: 70px;
  width: 60px;
  cursor: pointer;
}

.home-bars.on-top span,
.home-bars.on-top span::before,
.home-bars.on-top span::after,
.home-bars.on-product span,
.home-bars.on-product span::before,
.home-bars.on-product span::after,
.home-bars.on-about span,
.home-bars.on-about span::before,
.home-bars.on-about span::after {
  background-color: #000000;
}

.home-bars.on-slider span,
.home-bars.on-slider span::before,
.home-bars.on-slider span::after {
  background-color: #ffffff;
}

.home-bars.on-contacts span,
.home-bars.on-contacts span::before,
.home-bars.on-contacts span::after {
  background-color: #cdcdcd;
}

.home-bars span,
.home-bars span::before,
.home-bars span::after {
  height: 3px;
  width: 45px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -1.5px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.home-bars span::before,
.home-bars span::after {
  content: '';
}

.home-bars span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.home-bars span::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.home-bars:hover span,
.home-bars:hover span::before,
.home-bars:hover span::after {
  border-radius: 45px;
}

.home-bars:hover span::before,
.home-bars:hover span::after {
  margin-left: -20.5px;
}

.home-bars:hover span::before {
  -webkit-transform: translateY(0) rotate(-45deg) scaleX(0.5);
          transform: translateY(0) rotate(-45deg) scaleX(0.5);
}

.home-bars:hover span::after {
  -webkit-transform: translateY(0) rotate(45deg) scaleX(0.5);
          transform: translateY(0) rotate(45deg) scaleX(0.5);
}

.home-socials {
  left: 70px;
  bottom: 20px;
  width: 20px;
  height: 60px;
}

.home-socials.on-top a svg path,
.home-socials.on-product a svg path,
.home-socials.on-about a svg path {
  fill: #a8a7a7;
}

.home-socials.on-top a:hover svg path,
.home-socials.on-product a:hover svg path,
.home-socials.on-about a:hover svg path {
  fill: rgba(0, 0, 0, 0.8);
}

.home-socials.on-slider a svg path {
  fill: #ffffff;
}

.home-socials.on-slider a:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.home-socials.black a svg path {
  fill: #000000;
}

.home-socials.black a:hover svg path {
  fill: rgba(0, 0, 0, 0.8);
}

.home-socials a {
  display: block;
  height: 20px;
  width: 100%;
}

.home-socials a svg {
  width: 100%;
  height: 100%;
}

.home-socials a svg path {
  -webkit-transition: fill .15s ease-in-out;
  transition: fill .15s ease-in-out;
}

.home-socials a:first-child,
.home-socials a:last-child {
  position: absolute;
}

.home-socials a:first-child {
  top: 0;
}

.home-socials a:last-child {
  bottom: 0;
}

.home-order-now {
  text-transform: uppercase;
  font-size: 19px;
  bottom: 60px;
  right: 100px;
  letter-spacing: 1.88px;
}

.home-order-now.on-slider {
  color: #ffffff;
}

.home-order-now.on-about {
  color: #000000;
}

.home-order-now.on-contacts {
  color: #cdcdcd;
}

.home-order-now::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 45px;
  height: 2px;
  background-color: #f0c362;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home-order-now:hover::after {
  width: 100%;
}

.home .sections .section {
  background-color: #f3f3f3;
  -webkit-transition: -webkit-filter .25s ease-in-out;
  transition: -webkit-filter .25s ease-in-out;
  transition: filter .25s ease-in-out;
  transition: filter .25s ease-in-out, -webkit-filter .25s ease-in-out;
  z-index: 1;
}

.home .sections .section.overlayed {
  -webkit-transition: -webkit-filter .25s ease-in-out;
  transition: -webkit-filter .25s ease-in-out;
  transition: filter .25s ease-in-out;
  transition: filter .25s ease-in-out, -webkit-filter .25s ease-in-out;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.home .sections .section .content {
  position: relative;
}

.home .sections .top .content {
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.home .sections .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.home .sections .top-left,
.home .sections .top-right {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  position: relative;
}

.home .sections .top-left {
  width: calc(41.66666667% - 30px);
}

.home .sections .top-right {
  width: calc(58.33333333% - 30px);
}

.home .sections .top-left-sign-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-10%, -63%);
          transform: translate(-10%, -63%);
}

.home .sections .top-left-play {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(/images/play.png?6dd224da3967ff320d87c024b9d7a2ed);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .6;
  cursor: pointer;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.home .sections .top-left-play:hover {
  opacity: 1;
}

.home .sections .top-left-sign {
  background-image: url(/images/sign.png?9f715c5e793ae5538bcd7b956c832075);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 230px;
  width: 100%;
}

.home .sections .top-left-text {
  font-size: 42px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 50px;
}

.home .sections .top-left-more {
  font-size: 28px;
  padding-left: 60px;
  position: relative;
}

.home .sections .top-left-more::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #000000;
  position: absolute;
}

.home .sections .top-left-more::after {
  content: '';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 60px;
  bottom: -3px;
  height: 1px;
  background-color: #000000;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home .sections .top-left-more:hover::after {
  width: calc(100% - 60px);
}

.home .sections .top-left-more-wrapper {
  width: 100%;
}

.home .sections .top-right {
  position: relative;
}

.home .sections .top-right::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: calc(100% - 50px);
  width: 100%;
  content: '';
  display: block;
  background-image: url(/images/box-with-chair.png?c01d8cc44321737c986d55b68cf4ddd8);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .sections .top-right-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #080d18;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(230px, -56px);
          transform: translate(230px, -56px);
  z-index: 1;
}

.home .sections .top-right-cart {
  height: 60px;
  width: 30px;
  background-image: url(/images/cart.svg?4ef8a3c8f89c44b974b630ffdcd46f09);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .sections .top-right-text {
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 1px;
  margin: 10px 0;
  white-space: nowrap;
}

.home .sections .top-right-more {
  font-size: 19px;
  padding-left: 40px;
  position: relative;
}

.home .sections .top-right-more::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #000000;
  position: absolute;
}

.home .sections .top-right-more::after {
  content: '';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 40px;
  bottom: -3px;
  height: 1px;
  background-color: #000000;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home .sections .top-right-more:hover::after {
  width: calc(100% - 40px);
}

.home .sections .top-mouse {
  cursor: pointer;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  width: 30px;
  background-image: url(/images/mouse.svg?f3a77c23c0a8004a194ac2d2cec7a042);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home .sections .top-mouse:hover::after {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home .sections .top-mouse::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #09131C;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  bottom: 10px;
  border-radius: 50%;
  animation: mouse-animation 1.5s infinite ease-in-out alternate-reverse;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

@-webkit-keyframes mouse-animation {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@keyframes mouse-animation {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

.home .sections .product .content {
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.home .sections .product .remain {
  position: absolute;
  font-family: "Cormorant Garamond Italic", serif;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  right: 70px;
}

.home .sections .product .remain .count {
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

.home .sections .product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.home .sections .product-column {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

.home .sections .product-column.left {
  width: 58.33333333%;
  padding: 150px 90px 90px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .sections .product-column.left .title {
  font-size: 30px;
  letter-spacing: 1.5px;
}

.home .sections .product-column.left .text {
  font-size: 24px;
  text-align: justify;
}

.home .sections .product-column.left .box-content {
  padding-left: 15px;
  padding-right: 15px;
}

.home .sections .product-column.left .box-content-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 80px;
}

.home .sections .product-column.left .box-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .sections .product-column.left .box-content-column {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5px;
  cursor: pointer;
}

.home .sections .product-column.left .box-content-column:hover > .box-content-notice {
  color: #000000;
}

.home .sections .product-column.left .box-content-column:hover > .box-content-notice::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.home .sections .product-column.left .box-content-notice {
  font-size: 17px;
  font-style: italic;
  padding-top: 15px;
  color: #7b7b7b;
  text-align: center;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.home .sections .product-column.left .box-content-notice::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #f0d362;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.home .sections .product-column.left .box-content-thumbnail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.home .sections .product-column.left .box-content-thumbnail.first {
  background-image: url(/images/miniature-1.png?70707586774e3df30971dbe68905e33c);
}

.home .sections .product-column.left .box-content-thumbnail.second {
  background-image: url(/images/miniature-2.png?a7ab79d97c4585353afceba34321b957);
}

.home .sections .product-column.left .box-content-thumbnail.third {
  background-image: url(/images/miniature-3.png?67546500190bf7179d735ee8f5151701);
}

.home .sections .product-column.left .box-content-thumbnail.fourth {
  background-image: url(/images/miniature-4.png?b46947231a486454358e5795ce65de6f);
}

.home .sections .product-column.right {
  width: 41.66666667%;
  background-image: url(/images/product-bg.png?fced413f6a4b879439c652d922ab67c0);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 150px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.home .sections .product-column.right.to-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.home .sections .product-column.right .purchase-wrapper {
  color: #ffffff;
  text-align: center;
}

.home .sections .product-column.right .purchase-more {
  font-size: 17px;
  padding-left: 30px;
  position: relative;
}

.home .sections .product-column.right .purchase-more::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #ffffff;
  position: absolute;
}

.home .sections .product-column.right .purchase-more::after {
  content: '';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 30px;
  bottom: -3px;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home .sections .product-column.right .purchase-more:hover::after {
  width: calc(100% - 30px);
}

.home .sections .product-column.right .purchase-title {
  font-size: 29px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 25px 0;
}

.home .sections .product-column.right .purchase-button {
  cursor: pointer;
  font-family: "Galaxie Polaris - Book", serif;
  font-size: 17px;
  color: #404040;
  padding: 13px 45px 13px 25px;
  background-image: url(/images/purchase-button.png?5eb4515b514e6ce765c9bca6236da8c2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  opacity: .95;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.home .sections .product-column.right .purchase-button span {
  font-family: "Cormorant Garamond Regular", serif;
  font-size: 14px;
  padding-left: 5px;
}

.home .sections .product-column.right .purchase-button:hover {
  opacity: 1;
}

.home .sections .slider .content {
  height: 100vh;
  position: relative;
}

.home .sections .slider-container {
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 -80px 200px 0px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 -80px 200px 0px rgba(0, 0, 0, 0.5);
}

.home .sections .slider-slick-item {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home .sections .slider-slick-item.item-1 {
  background-image: url(/images/slider-1.jpg?491a9eacaf09f95393bff492931d533d);
}

.home .sections .slider-slick-item.item-2 {
  background-image: url(/images/slider-2.jpg?d086f1263556b5d11ad2bbc399670096);
}

.home .sections .slider-slick-item.item-3 {
  background-image: url(/images/slider-3.jpg?074cda424d398a48e6d51e46f68bb7d9);
}

.home .sections .slider-slick-item.item-4 {
  background-image: url(/images/slider-4.jpg?e10eb1553ec9d0d49caf9815385d78bb);
}

.home .sections .slider .slick-prev,
.home .sections .slider .slick-next,
.home .sections .slider .slick-dots {
  position: absolute;
  z-index: 1;
}

.home .sections .slider .slick-prev,
.home .sections .slider .slick-next {
  width: 200px;
  height: 100%;
  top: 0;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.home .sections .slider .slick-prev span,
.home .sections .slider .slick-next span {
  position: absolute;
  width: 30px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -15px;
  background-image: url(/images/chevron.svg?dbaae7df09b4d454e8fabbce8e75a740);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .sections .slider .slick-prev:focus,
.home .sections .slider .slick-next:focus {
  outline: none;
}

.home .sections .slider .slick-next span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home .sections .slider .slick-prev {
  left: 0;
}

.home .sections .slider .slick-next {
  right: 0;
}

.home .sections .slider .slick-dots {
  bottom: 0;
  left: 0;
  height: 50px;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .sections .slider .slick-dots button {
  background-color: transparent;
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 15px;
  color: transparent;
  border: none;
  cursor: pointer;
}

.home .sections .slider .slick-dots button::after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home .sections .slider .slick-dots button:focus {
  outline: none;
}

.home .sections .slider .slick-dots li:last-child button {
  margin-right: 0;
}

.home .sections .slider .slick-dots li.slick-active button::after {
  background-color: transparent;
  border: 3px solid #fff;
}

.home .sections .about-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .sections .about-quote .emblem {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(/images/emblem.png?1021fad3b4d93077be7762b4eb546cea);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home .sections .about-quote .quote {
  font-size: 13px;
  font-family: "Minion Pro", serif;
  color: #000000;
  font-weight: 600;
  margin-top: 20px;
}

.home .sections .about .content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .sections .about .rectangle {
  height: 40%;
  background-color: #e6e6e6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .sections .about .rectangle h2 {
  font-size: 50px;
  color: #080d18;
  font-family: "Minion Pro", serif;
}

.home .sections .about .rectangle h2 span {
  font-family: "Theano Didot", serif;
  letter-spacing: 1.5px;
}

.home .sections .contacts {
  background-color: #3b3b3b;
}

.home .sections .contacts .made-by,
.home .sections .contacts .copyright {
  color: #cdcdcd;
  font-size: 19px;
  position: absolute;
  bottom: 40px;
}

.home .sections .contacts .made-by {
  left: 150px;
}

.home .sections .contacts .made-by a {
  position: relative;
}

.home .sections .contacts .made-by a::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #cdcdcd;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home .sections .contacts .made-by a:hover::after {
  width: 100%;
}

.home .sections .contacts .copyright {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .sections .contacts .copyright span {
  font-family: "Theano Didot", serif;
}

.home .sections .contacts-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.home .sections .contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.home .sections .contacts-left,
.home .sections .contacts-right {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 160px;
}

.home .sections .contacts-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 130px;
}

.home .sections .contacts-left .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .sections .contacts-left .first .socials {
  width: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .sections .contacts-left .first .socials a {
  display: inline-block;
  height: 20px;
  width: 100%;
}

.home .sections .contacts-left .first .socials a svg {
  width: 100%;
  height: 100%;
}

.home .sections .contacts-left .first .socials a svg path {
  fill: rgba(205, 205, 205, 0.8);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.home .sections .contacts-left .first .socials a:hover svg path {
  fill: #cdcdcd;
}

.home .sections .contacts-left .second {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .sections .contacts-left .second .title,
.home .sections .contacts-left .second .more-wrapper {
  text-align: center;
}

.home .sections .contacts-left .second .thumbnail-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .sections .contacts-left .second .thumbnail-wrapper .thumbnail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.home .sections .contacts-left .second .thumbnail-wrapper .thumbnail::after {
  display: block;
  position: absolute;
  content: '';
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  left: 2px;
  top: 2px;
  background-image: url(/images/box-open.png?18ae3b07b0d71f0c65d9c68df6595876);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.home .sections .contacts-left .second .title {
  text-transform: uppercase;
  font-size: 32px;
  color: #cdcdcd;
  letter-spacing: 1.5px;
}

.home .sections .contacts-left .second .more {
  display: inline-block;
  font-size: 21px;
  color: #cdcdcd;
  padding-left: 40px;
  position: relative;
}

.home .sections .contacts-left .second .more::before {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #cdcdcd;
  width: 30px;
  height: 1px;
  content: '';
}

.home .sections .contacts-left .second .more::after {
  content: '';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 40px;
  bottom: -3px;
  height: 1px;
  background-color: #cdcdcd;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home .sections .contacts-left .second .more:hover::after {
  width: calc(100% - 40px);
}

.home .sections .contacts-left .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .sections .contacts-left .third .cart {
  display: inline-block;
  width: 30px;
  height: 60px;
  background-image: url(/images/cart.svg?4ef8a3c8f89c44b974b630ffdcd46f09);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .sections .contacts-right {
  width: 50%;
  padding-right: 130px;
}

.home .sections .contacts-right-inner {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .sections .contacts-right-inner .title {
  color: #cdcdcd;
  font-size: 30px;
  position: relative;
  letter-spacing: 4px;
}

.home .sections .contacts-right-inner .title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #f0c362;
}

.home .sections .contacts-right-inner .text-block {
  text-align: center;
}

.home .sections .contacts-right-inner .text-block strong,
.home .sections .contacts-right-inner .text-block small {
  display: block;
  letter-spacing: 1.88px;
}

.home .sections .contacts-right-inner .text-block strong {
  font-size: 25px;
  color: #cdcdcd;
}

.home .sections .contacts-right-inner .text-block small {
  font-size: 16px;
  color: #868686;
}

.home .sections .contacts-right-inner .text-block .icons {
  padding-top: 10px;
  text-align: center;
}

.home .sections .contacts-right-inner .text-block .icons .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.home .sections .contacts-right-inner .text-block .icons .icon:not(.alone) {
  margin-right: 18px;
}

.home .sections .contacts-right-inner .text-block .icons .icon:last-child {
  margin-right: 0;
}

.home .sections .contacts-right-inner .text-block .icons .icon.telegram {
  background-image: url(/images/telegram.png?51a91334258842bbb053e7fb0170897b);
}

.home .sections .contacts-right-inner .text-block .icons .icon.viber {
  background-image: url(/images/viber.png?0d2fd1a65ca23c6fbab2627ed7b058e7);
}

.home .sections .contacts-right-inner .text-block .icons .icon.mail {
  background-image: url(/images/mail.png?ddd5d10bcbfd8c4b424e34d60aa5969d);
}

.home .menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #f3f3f3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .30s ease-in-out;
  transition: -webkit-transform .30s ease-in-out;
  transition: transform .30s ease-in-out;
  transition: transform .30s ease-in-out, -webkit-transform .30s ease-in-out;
  z-index: 3;
  padding-left: 50px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .home .menu {
    position: fixed;
  }
}

.home .menu.shown {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.home .menu-cross {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;
  position: relative;
}

.home .menu-cross-wrapper {
  text-align: right;
}

.home .menu-cross span {
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17.5px;
  margin-top: -1px;
}

.home .menu-cross span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home .menu-cross span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home .menu-book {
  margin-top: 15px;
  padding-right: 150px;
}

.home .menu-book-title {
  margin-top: 40px;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
  position: relative;
}

.home .menu-book-title::after {
  display: inline-block;
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #f0d362;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.home .menu-book-title:hover::after {
  width: 100%;
}

.home .menu-book-count {
  font-size: 25px;
}

.home .menu-book-count-wrapper {
  font-style: italic;
  text-align: center;
  display: inline-block;
}

.home .menu-book-remain {
  font-size: 16px;
}

.home .menu-list {
  margin-bottom: 40px;
}

.home .menu-list li {
  padding: 45px 0;
  list-style-type: none;
}

.home .menu-list li a {
  position: relative;
  font-size: 35px;
  text-transform: uppercase;
}

.home .menu-list li a::after {
  width: 0;
  position: absolute;
  left: 0;
  bottom: -7px;
  content: '';
  display: block;
  height: 2px;
  background-color: #f0d362;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.home .menu-list li a:hover::after {
  width: 100%;
}

.home .menu-list li.active a::after {
  width: calc(100% + 50px);
}

.home .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #ffc85d;
  opacity: 0;
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.home .overlay.shown {
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  opacity: 0.65;
  z-index: 2;
}

.typed-cursor {
  font-size: 30px;
}

@media screen and (max-width: 1600px) {
  .home .sections .top-left-sign-block {
    -webkit-transform: translate(-35%, -50%);
            transform: translate(-35%, -50%);
  }

  .home .sections .product-column.left .title {
    font-size: 35px;
  }

  .home .sections .product-column.left .text {
    font-size: 20px;
  }

  .home .sections .product-column.left .box-content-title {
    padding-bottom: 25px;
  }

  .home .sections .contacts-left {
    padding-left: 60px;
  }

  .home .sections .contacts-left .second .thumbnail-wrapper {
    padding: 15px;
  }

  .home .sections .contacts-left,
  .home .sections .contacts-right {
    padding-top: 130px;
    padding-bottom: 100px;
  }

  .home .sections .contacts-right {
    padding-right: 60px;
  }

  .home .sections .contacts-right-inner {
    padding: 0;
  }
}

@media screen and (max-width: 1400px) {
  .home .sections .top-right-text {
    font-size: 25px;
  }

  .home .sections .top-right-title {
    -webkit-transform: translate(240px, -25px);
            transform: translate(240px, -25px);
  }

  .home .sections .top-left-text {
    margin-bottom: 20px;
  }

  .home .sections .product-column.left {
    padding: 140px 30px 30px 130px;
  }

  .home .sections .product-column.left .title {
    font-size: 25px;
  }

  .home .sections .product-column.left .text {
    font-size: 18px;
  }

  .home .sections .product-column.left .box-content-title {
    font-size: 25px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .home .sections .product-column.left .box-content-column {
    padding: 0;
  }
}

@media screen and (max-width: 1100px) {
  .home .sections .top .content {
    height: auto;
  }

  .home .sections .top-left {
    height: auto;
    width: 100%;
  }

  .home .sections .top-left-sign-block {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    padding-top: 150px;
  }

  .home .sections .top-left-more-wrapper {
    text-align: center;
  }

  .home .sections .top-right {
    height: 1300px;
    width: 100%;
  }

  .home .sections .top-right-title {
    -webkit-transform: translate(300px, -25px);
            transform: translate(300px, -25px);
  }

  .home .sections .top-mouse {
    display: none;
  }

  .home .sections .contacts-right {
    padding-bottom: 150px;
  }

  .home .sections .contacts .made-by,
  .home .sections .contacts .copyright {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .home .sections .contacts .copyright {
    bottom: 80px;
  }

  .home .sections .contacts .home-order-now {
    bottom: 140px;
  }

  .home .sections .contacts .content {
    height: auto;
  }

  .home .sections .contacts-left {
    height: 100vh;
  }

  .home .sections .contacts-left,
  .home .sections .contacts-right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home .sections .contacts-right {
    height: auto;
    padding-top: 0;
  }

  .home .sections .contacts-right-inner .text-block {
    padding: 40px;
  }

  .home .sections .contacts-right-inner .title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  .home .sections .slider {
    display: none;
  }

  .home .sections .product .content {
    height: auto;
  }

  .home .sections .product-column.left {
    height: auto;
    width: 100%;
    min-height: 700px;
    padding: 140px 20px 30px 30px;
  }

  .home .sections .product-column.left .box-content-title {
    padding-bottom: 40px;
  }

  .home .sections .product-column.left .text {
    font-size: 25px;
  }

  .home .sections .product-column.left .title {
    font-size: 30px;
  }

  .home .sections .product-column.right {
    height: 300px;
    width: 100%;
    min-height: 500px;
  }

  .home .sections .about .content {
    height: 800px;
  }

  .home .sections .about .rectangle h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .home .sections .top-mouse {
    display: none;
  }

  .home .sections .top-right {
    height: 800px;
  }

  .home .sections .top-right-title {
    -webkit-transform: translate(165px, 0);
            transform: translate(165px, 0);
  }
}

.read-more {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.read-more:hover .text::after {
  width: 100%;
}

.read-more.active .plus-in-circle span:nth-child(1),
.read-more:hover .plus-in-circle span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.read-more.active .plus-in-circle span:nth-child(2),
.read-more:hover .plus-in-circle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.read-more .plus-in-circle {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
}

.read-more .plus-in-circle span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  margin-left: -10px;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.read-more .plus-in-circle span:nth-child(1) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.read-more .text {
  display: inline-block;
  position: relative;
}

.read-more .text::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: '';
  display: inline-block;
  background-color: #000000;
  height: 2px;
  width: 0;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.home .abouts .section .content {
  position: relative;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.home .side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: absolute;
  left: 35px;
  top: 0;
  height: 100%;
  z-index: 1;
}

.home .side-menu li {
  position: relative;
  margin: 10px 0;
  color: transparent;
}

.home .side-menu li::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 2px;
  left: 0;
  top: 0;
  position: absolute;
}

.home .side-menu li a {
  display: inline-block;
  font-size: 14px;
  padding: 15px 0 15px 12px;
}

.home .side-menu.black li.active {
  color: #000000;
}

.home .side-menu.black li.active::before {
  background-color: #000000;
}

.home .side-menu.black li::before {
  background-color: #b2b2b2;
}

.home .side-menu.white-before li.active {
  color: #000000;
}

.home .side-menu.white-before li.active::before {
  background-color: #000000;
}

.home .side-menu.white-before li::before {
  background-color: #ffffff;
}

.home .about-present {
  font-size: 25px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .about-present.black {
  color: #000;
}

.home .about-present.white {
  color: #ffffff;
}

.home .about-present::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #f0c362;
  width: 60%;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  height: 3px;
}

.home .about-present:hover::after {
  width: 100%;
}

.home .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.home .about-left,
.home .about-right {
  position: relative;
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  width: 50%;
}

.home .about-left {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.home .about-left.section-1 {
  background-image: url(/images/about-1.jpg?923d2e5c18d2514d05db777d2b210e39);
}

.home .about-left.section-2.black {
  background-image: url(/images/about-2-black.png?4a83f8d614656487a40e3081813fc91e);
}

.home .about-left.section-2.blue {
  background-image: url(/images/about-2-blue.png?bdec8e5c6f77d41556bbd499432c894d);
}

.home .about-left.section-3 {
  background-image: url(/images/about-3.png?06c4761f7eb923217053a8333e3b7413);
}

.home .about-left.section-4.black {
  background-image: url(/images/about-4-black.png?6df9724ab203f70008ff976eef1650b2);
}

.home .about-left.section-4.blue {
  background-image: url(/images/about-4-blue.png?c15ffd4c900884a9cf900846555fedfb);
}

.home .about-left.section-5 {
  background-image: url(/images/about-5.png?fdefe68f95a8e2d94ba8e08e057ee49c);
}

.home .about-left.section-6 {
  background-size: contain;
  background-color: #dddddd;
  background-position: left bottom;
  background-image: url(/images/about-6.png?16cb0163f4f6cda39cf10760072f3609);
}

.home .about-right {
  padding: 130px 50px 50px 50px;
}

.home .about-right .read-more {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.home .about-right .read-more.active {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  bottom: 400px;
  z-index: 2;
}

.home .about-right .table {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  left: 40px;
  bottom: 50px;
  z-index: -1;
  opacity: 0;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.home .about-right .table.active {
  opacity: 1;
  z-index: 1;
}

.home .about-right .opacied {
  -webkit-transition: opacity .50s ease-in-out;
  transition: opacity .50s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.home .about-right .opacied.active {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.home .about-right .read-more {
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .about-right .title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.home .about-right .text {
  font-size: 25px;
  text-align: justify;
}

.home .about-right .quality-block-title {
  text-align: center;
  font-size: 21px;
  font-family: "Cormorant Garamond Italic", serif;
  margin-bottom: 60px;
  margin-top: 15px;
}

.home .about-right .quality-block .icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 60px;
}

.home .about-right .quality-block .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.home .about-right .quality-block .icon.palm {
  background-image: url(/images/palm.png?76cbb5e31ff4f3b462310a8f9ca60904);
}

.home .about-right .quality-block .icon.spool {
  background-image: url(/images/spool.png?bf0ca17c58d1aed044bb12238835d49d);
}

.home .about-right .quality-block .icon.eco {
  background-image: url(/images/eco.png?9b91acf3dfa8402207302a07b6ed468f);
}

.home .about-right .quality-block .icon.heart {
  background-image: url(/images/heart.png?f955fa7e5905aa6bfb0354a9fa12300c);
}

.home .about-right .quality-block .icon.thumb {
  background-image: url(/images/thumb.png?98f39b3c7821f4d3ab0fea7ac1e175a5);
}

.home .about-right .quality-block .icon.factory {
  background-image: url(/images/factory.png?65267a6044fe24bb7763972eea205174);
}

.home .about-right .quality-block .icon.yarn {
  background-image: url(/images/yarn.png?fb2c67eb2f88e5f3f8171bdf4b8efad8);
}

.home .about-right .quality-block .icon.letter {
  background-image: url(/images/letter.png?7d14af75a45f727045496c0afe0c4bda);
}

.home .about-right .quality-block .icon.add {
  background-image: url(/images/add.png?3194b4d2cc30b9e57ef2cb27e2b54258);
}

.home .about-right .quality-block .icon-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
}

.home .about-right .quality-block .icon-block p {
  text-align: center;
}

.home .about-right .quality-block .icon-block span {
  font-family: "Cormorant Garamond Italic", serif;
}

.home .about-right .colors {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  z-index: 2;
  position: relative;
}

.home .about-right .colors .color {
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home .about-right .colors .color.selected {
  border: 2px solid #a7a7a7;
}

.home .about-right .colors .color:nth-child(1) {
  background-image: url(/images/color-1.png?d8d04b0814d561cc05565c914fddd9ca);
  margin-right: 30px;
}

.home .about-right .colors .color:nth-child(2) {
  background-image: url(/images/color-2.png?caad3a01e329e7bed8db76926cefd15c);
}

.home .gift-box .about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .gift-box .about-right .who-give-title {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}

.home .gift-box .about-right .who-give-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .gift-box .about-right .who-give-element {
  display: inline-block;
  width: 50%;
  font-size: 25px;
  text-align: center;
  padding: 25px 0;
}

.home .gift-box .about-right .who-give-element span {
  padding-left: 20px;
  position: relative;
}

.home .gift-box .about-right .who-give-element span::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  background-color: #f0c362;
}

.home .gift-box .about-right .box-content {
  padding: 0 100px;
}

.home .gift-box .about-right .box-content-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.home .gift-box .about-right .box-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.home .gift-box .about-right .box-content-column {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .gift-box .about-right .box-content-notice {
  font-size: 17px;
  font-style: italic;
  padding-top: 15px;
  color: #7b7b7b;
  text-align: center;
}

.home .gift-box .about-right .box-content-thumbnail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.home .gift-box .about-right .box-content-thumbnail.first {
  background-image: url(/images/miniature-1.png?70707586774e3df30971dbe68905e33c);
}

.home .gift-box .about-right .box-content-thumbnail.second {
  background-image: url(/images/miniature-2.png?a7ab79d97c4585353afceba34321b957);
}

.home .gift-box .about-right .box-content-thumbnail.third {
  background-image: url(/images/miniature-3.png?67546500190bf7179d735ee8f5151701);
}

.home .gift-box .about-right .box-content-thumbnail.fourth {
  background-image: url(/images/miniature-4.png?b46947231a486454358e5795ce65de6f);
}

.home .necktie .about-right,
.home .clamp .about-right,
.home .shawl .about-right,
.home .cufflinks .about-right,
.home .letter .about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 150px;
  position: relative;
}

.home .letter .about-left {
  background-size: contain;
  background-position: top left;
  background-color: #292929;
  position: relative;
}

.home .letter .about-left .letter-text-vue {
  max-width: 400px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Marck Script', cursive;
  font-size: 35px;
  line-height: 85px;
  color: #ffffff;
}

.home .letter .about-right .table {
  background: none;
  height: 300px;
}

.home .letter .about-right .table textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  resize: none;
  bottom: 0;
  left: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
}

.home .necktie .table.blue {
  background-image: url(/images/necktie-blue.png?7997d957289cf6baf64f83bf38398935);
}

.home .necktie .table.black {
  background-image: url(/images/necktie-black.png?69a7f81bb755c7cc12dac5e3e057db81);
}

.home .clamp .table {
  background-image: url(/images/clamp.png?4915006518ca62e4149fba8bcc7ad43a);
}

.home .shawl .table.blue {
  background-image: url(/images/shawl-blue.png?499532ead5fdfd7b7ef64104fd7f6c98);
}

.home .shawl .table.black {
  background-image: url(/images/shawl-black.png?c79fbd2c9a91f0dbb6207d92349cb043);
}

.home .cufflinks .table {
  background-image: url(/images/cufflinks.png?a9319a567cda0360d17b30469ce38f16);
}

@media screen and (max-width: 1600px) {
  .home .about-right .title {
    font-size: 25px;
  }

  .home .about-right .text {
    font-size: 20px;
  }

  .home .about-right .quality-block-title {
    margin-bottom: 20px;
  }

  .home .gift-box .about-right .who-give-title {
    font-size: 20px;
  }

  .home .gift-box .about-right .who-give-element {
    font-size: 18px;
  }

  .home .gift-box .about-right .box-content {
    padding: 0 40px;
  }

  .home .gift-box .about-right .box-content-title {
    font-size: 20px;
  }

  .home .gift-box .about-right .box-content-column {
    height: 110px;
  }
}

@media screen and (max-width: 1400px) {
  .home .about-right {
    padding: 100px 20px 20px 20px;
  }

  .home .about-right .title {
    font-size: 22px;
  }

  .home .about-right .text {
    font-size: 18px;
  }

  .home .about-right .quality-block-title {
    margin-bottom: 15px;
  }

  .home .about-right .who-give-title {
    font-size: 20px;
  }

  .home .about-right .who-give-element {
    font-size: 18px;
  }

  .home .about-right .box-content-title {
    font-size: 20px;
  }

  .home .about-right .quality-block .icon {
    height: 50px;
    width: 50px;
  }

  .home .about-right .quality-block .icon-block {
    font-size: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .home .sections .product-column.right {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (max-width: 991px) {
  .home .about-left {
    height: 100vh;
    width: 100%;
  }

  .home .about-right {
    height: 100vh;
    width: 100%;
  }

  .home .side-menu {
    display: none;
  }

  .home .letter .about-left {
    background-position: center center;
  }

  .home .necktie .home-logo.on-top,
  .home .clamp .home-logo.on-top,
  .home .shawl .home-logo.on-top,
  .home .letter .home-logo.on-top {
    background-image: url(/images/logo-second.svg?ec0c52858a692634b3e40f436c19a070);
  }

  .home .necktie .home-bars.on-top span,
  .home .necktie .home-bars.on-top span::before,
  .home .necktie .home-bars.on-top span::after,
  .home .clamp .home-bars.on-top span,
  .home .clamp .home-bars.on-top span::before,
  .home .clamp .home-bars.on-top span::after,
  .home .shawl .home-bars.on-top span,
  .home .shawl .home-bars.on-top span::before,
  .home .shawl .home-bars.on-top span::after,
  .home .letter .home-bars.on-top span,
  .home .letter .home-bars.on-top span::before,
  .home .letter .home-bars.on-top span::after {
    background-color: #fff;
  }

  .home .cufflinks .home-logo.on-slider {
    background-image: url(/images/logo.svg?0c696586bd41d17eb22d0e271b914e6f);
  }

  .home .cufflinks .about-present.white {
    color: #000000;
  }

  .home .home-socials.on-slider a svg path,
  .home .home-socials.on-top a svg path {
    fill: #000000;
  }

  .home .about-right .title {
    font-size: 35px;
  }

  .home .about-right .text {
    font-size: 30px;
  }

  .home .about-right .table {
    bottom: 120px;
    height: calc(100% - 160px);
  }

  .home .gift-box .about-right .box-content {
    padding: 0 120px;
  }

  .home .letter .about-right .table {
    height: 240px;
  }
}

.purchase {
  min-height: 100vh;
  background-image: url(/images/slider-1.jpg?491a9eacaf09f95393bff492931d533d);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.purchase-logo {
  height: 60px;
  width: 115px;
  background-image: url(/images/logo.svg?0c696586bd41d17eb22d0e271b914e6f);
  background-repeat: no-repeat;
  background-position: center center;
}

.purchase-logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.26);
}

.purchase-logo-visa-mastercard,
.purchase-logo-liqpay {
  width: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.purchase-logo-visa-mastercard {
  height: 60px;
  background-image: url(/images/visa-mastercard.png?98fae1d078cb131f3c8c3902f14cbe42);
}

.purchase-logo-liqpay {
  height: 30px;
  background-image: url(/images/liqpay.png?abaf7569c707f8e7f8f5a19f533d2d95);
}

.purchase-form {
  overflow-x: hidden;
  font-family: "Cormorant Garamond Regular", serif;
}

.purchase-form-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.purchase-form-box {
  width: 500px;
  max-width: 95%;
  background-color: #f3f3f3;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.26);
}

.purchase-form-heading {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  background-color: #e2e2e2;
  color: #000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: "Minion Pro", serif;
}

.purchase-form-button {
  padding: 15px 0;
  border: none;
  background-color: #e2e2e2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  width: 100%;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.purchase-form-button:hover {
  background-color: #d5d5d5;
}

.purchase-form-button:active {
  background-color: #bcbcbc;
}

.purchase-form-button.button-pay {
  background-color: #26862d;
  color: #ffffff;
}

.purchase-form-button.button-pay:hover {
  background-color: #217227;
}

.purchase-form-button.button-pay:active {
  background-color: #154a19;
}

.purchase-form-stage {
  width: 100%;
}

.purchase-form-stage-wrapper {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.purchase-form-stage-wrapper.stage-1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.purchase-form-stage-wrapper.stage-2 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.purchase-form-stage-inner {
  padding: 15px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase-form-stage.stage-2 .purchase-form-stage-inner .form-row textarea {
  height: 300px;
  resize: none;
}

.purchase-form-stage-heading {
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
}

.purchase-form-stage-heading.with-comment {
  padding-bottom: 0;
}

.purchase-form-stage-comment {
  padding-bottom: 15px;
  text-align: center;
  font-size: 14px;
  color: #828080;
}

.purchase-form-choose-color-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase-form-choose-color-column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.purchase-form-choose-color-column label {
  cursor: pointer;
}

.purchase-form-choose-color-column input[type="radio"] {
  visibility: hidden;
  display: none;
}

.purchase-form-choose-color-column input[type="radio"]:checked + .purchase-form-color-texture {
  border-color: #26862d;
}

.purchase-form-color-name {
  text-align: center;
  font-size: 24px;
  padding-bottom: 15px;
}

.purchase-form-color-texture {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
}

.purchase-form-color-texture.color-sapfir {
  background-image: url(/images/color-1.png?d8d04b0814d561cc05565c914fddd9ca);
}

.purchase-form-color-texture.color-grafit {
  background-image: url(/images/color-2.png?caad3a01e329e7bed8db76926cefd15c);
}

.purchase-form-price {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 45px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.purchase-form-price.hidden {
  color: transparent;
}

.purchase-form-agreement-wrap {
  text-align: center;
}

.purchase-form-agreement-wrap a {
  color: #00f;
  text-decoration: underline;
}

.purchase-form-agreement-wrap input {
  position: relative;
  bottom: -3px;
}

.purchase-form-visa-mastercard {
  width: 100%;
  height: 60px;
  background-image: url(/images/visa-mastercard.png?98fae1d078cb131f3c8c3902f14cbe42);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 15px;
}

.purchase .form-row {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  overflow-x: hidden;
}

.purchase .form-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purchase .form-row-after {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 2px;
  background-color: #d7b015;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.purchase .form-row.half {
  display: inline-block;
  width: calc(50% - 7.5px);
}

.purchase .form-row.half:first-child {
  margin-right: 7.5px;
}

.purchase .form-row.half:last-child {
  margin-left: 7.5px;
}

.purchase .form-row.half:last-child .form-row-after {
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.purchase .form-row.last {
  margin-bottom: 0;
}

.purchase .form-row-error {
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 20px;
  font-size: 12px;
  color: #b71c1c;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.purchase .form-row input,
.purchase .form-row textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #000;
  font-size: 18px;
  cursor: pointer;
  background-color: #f3f3f3;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.purchase .form-row input:focus + label,
.purchase .form-row textarea:focus + label {
  color: #d7b015;
}

.purchase .form-row input:focus ~ .form-row-after,
.purchase .form-row textarea:focus ~ .form-row-after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.purchase .form-row input.valid + label,
.purchase .form-row textarea.valid + label {
  color: #26862d;
}

.purchase .form-row input.valid ~ .form-row-after,
.purchase .form-row textarea.valid ~ .form-row-after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #26862d;
}

.purchase .form-row input.valid ~ .form-row-error,
.purchase .form-row textarea.valid ~ .form-row-error {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.purchase .form-row input.invalid + label,
.purchase .form-row textarea.invalid + label {
  color: #b71c1c;
}

.purchase .form-row input.invalid ~ .form-row-after,
.purchase .form-row textarea.invalid ~ .form-row-after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #b71c1c;
}

.purchase .form-row input.invalid ~ .form-row-error,
.purchase .form-row textarea.invalid ~ .form-row-error {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.purchase .form-row label {
  position: absolute;
  left: 0;
  top: 0;
  color: #000000;
  font-size: 14px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.agreement {
  max-width: 1920px;
  padding: 15px;
  font-family: "Cormorant Garamond Regular", serif;
  margin: 0 auto;
}

.agreement .logo {
  display: inline-block;
  width: 170px;
  height: 90px;
  background-image: url(/images/logo.svg?0c696586bd41d17eb22d0e271b914e6f);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.agreement .logo-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.agreement h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: justify;
}

.agreement h1.heading {
  text-align: center;
}

.agreement h2 {
  font-size: 25px;
  margin: 15px 0;
}

.agreement h3 {
  font-size: 20px;
  padding-left: 15px;
}

.agreement strong {
  font-weight: 700;
}

